.post-title{
  overflow: auto;
}
.col-md-11{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  font-style: italic;
}
/* .col-md-11 :hover{
  background-image: linear-gradient(to right, #caebf4, #42c2a8);
} */
.post-text{
  height: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
