.col-md-11{
  overflow: auto;
}
/* .col-md-11 :hover{
  background-image: linear-gradient(to right, #caebf4, #42c2a8);
} */
.post-text{
  height: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
