.outlet{
  background-color: aliceblue;
  margin-top: 10px;
}
body{
  background-image: linear-gradient(to right, #f3f7f5, #0f1010);
}
.header{
  margin-top: 5px;
}
.foo{
  width: 100%;
  margin-top: 10px;
  text-align: center;
  background-image: linear-gradient(to right, #dae1e3, #ddeeee);
}
