<div class="container-fluid">
  <app-header></app-header>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
    <div class="create-subreddit-container">
      <form class="post-form" [formGroup]= "createSubredditForm">
        <fieldset>
          <div class="form-group">
            <!-- <div class="create-subreddit-heading">Create Subreddit</div> -->
            <legend>Create Subreddit</legend>
            <label>Title</label>
            <input type="text" [formControlName]="'title'" class="form-control" style="margin-top: 5px"
              placeholder="Title">
            <label>Description</label>
            <textarea type="text" [formControlName]="'description'" class="form-control"
              placeholder="Description"></textarea>
            <div>
              <div style="margin-top: 5px" class="float-right">
                <button (click)="discard()" class="btn btn-primary">Discard</button>
                <button (click)="createSubreddit()" class="btn btn-primary">Create</button>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
    <div class="col-md-6">
      <img src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-reddit-circle-512.png">
      <p>Subreddit</p>
    </div>
  </div>
</div>
