<div class="login-section">
  <div class="row justify-content-center">
      <div class="col-md-3"></div>
      <div class="col-md-6">
          <div class="card">
              <div class="card-header" style="text-align: center"><h4>Login</h4></div>
              <div class="card-body">
                  <form [formGroup]= "loginForm">
                      <div class="form-group row">
                          <label for="user_name" class="col-md-4 col-form-label text-md-right">Username</label>
                          <div class="col-md-6">
                              <input type="text" [formControlName] = "'username'" id="user_name" class="form-control" name="user_name" required
                                  autofocus>
                                  <!-- <input type="text" name="username" [(ngModel)] = "username"> -->
                                  <span *ngIf= "!loginForm.controls['username'].valid && loginForm.controls['username'].touched">
                                    please provide a valid username
                                  </span>
                          </div>
                      </div>

                      <div class="form-group row">
                          <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                          <div class="col-md-6">
                              <input type="password" [formControlName]= "'password'" id="password" class="form-control" name="password" required>
                              <!-- <input type="password" name="password" [(ngModel)] = "password"> -->
                              <span *ngIf= "!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
                                please provide a valid password
                              </span>
                          </div>
                      </div>
                      <span class="col-md-6 offset-md-4">
                          <button type="submit" (click)= "login()">
                              Login
                          </button>
                          <span style="padding-left: 15px">New to SpringReddit?</span><a routerLink="/signup">SIGN UP</a>
                      </span>
                  </form>
              </div>
          </div>
      </div>
      <div class="col-md-3"></div>
  </div>
</div>

