header{
  width: 1290px;
}
.foo{
  margin-top: 10px;
}

.col-md-9{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container-fluid{
  background-image: linear-gradient(to right, #f1fcff, #c6f6f6);
}
.reddit-body{
  margin-top: 10px;
}

