<div class="container-fluid">
<app-header></app-header>
</div>
<div class="container-fluid">
    <div class="header-comment">
      <h2>Name Account: <b>{{name}}</b> </h2>
      <p>Number Post Title: {{postLength}}</p>
      <p>Number Comments: {{commentLength}}</p>
    </div>
</div>
<div class="container-fluid">
  <div class="comment-post">
    Your Posts:
  <app-post-title [posts]= "posts"></app-post-title>
</div>
  <hr />
  <div>
    Your Comments:
  </div>
  <div *ngFor="let comment of comments">
    <div class="comment-post">
      <div class="username">
        <a routerLink="/user/comment.username">{{comment.userName}}</a>
      </div>
      <div>
        <p>{{comment.duration}}</p>
      </div>
      <b>{{comment.text}}</b>
    </div>
    <hr />
  </div>
</div>
